header {
    min-height: 60px;

    border-bottom: 1px solid #ddd;
    box-shadow: 0 5px 5px -5px #ddd;

    .logo-link {
        float: left;
    }
    
    .nav {
        float: right;
        left: 80px;
    }

    .logo-link img {
        height: 60px;
        border-radius: 1em;
        box-shadow: 0 1px 1px rgba(0,0,0,0.125);
    }

    .nav-list-item {
        display: inline-block;
        padding: 19px  10px ;
        a {
            font-size: 16px;
            line-height: 1.4;
        }
    }
}
