.home.post-list {
    margin: 2em 0;
    .post-list-item {
        padding: 1em 0 2em;
        border-bottom: 1px solid #ddd;
        &:last-child {
            border-bottom: 0px;
        }
    }
    .post-content{
        background: #fdfdfd;
        padding: 1em;
        border-radius: 2px;
        border: 1px solid #ddd;
        box-shadow: 0 0 20px 1px rgba(0,0,0,0.125);
        
        h2, h3, h4, h5, h6 {
            &:before {
                content: '';
            }
        }
        & > ul {
            list-style: initial;
        }
    }
    .read-more {     
        color: $main-color;
    }
}